<style>
nav{background:grey;
padding:20px}
nav a{padding:70px;text-decoration:none;color:white}
a:hover{color:red}
	.a img{width:20px}
.sign{border-radius:15px;
         background:green;
         padding:12px;}
main img{width:20 px}
p{font-size:15px}
	body{background:url("https://ethnomir.ru/upload/medialibrary/4c1/nevsky.jpg" no-repeat)}
	
</style>

