<style>

nav {background:grey;
	padding:20px}
nav a{padding:70px;text-decoration:none;color:white}
a:hover{color:red}
.a img{width:20px}
.sign{border-radius:15px;
         background:green;
         padding:12px;}
main img{width:20 px}
p{font-size:15px}
body{background:url("https://ethnomir.ru/upload/medialibrary/4c1/nevsky.jpg" no-repeat)}
table{background:white}
.a{border:2px solid black; border-collapse:collapse;text-align:center;width:500;border-spacing: 20 px}
td{border:2px solid black}
a{text-decoration:none}
td.b{color:blue}
input{width:500px; height:50px}
body{background:url(http://www.cruzo.net/user/images/k/ecc3ecf42c75db1ffce5d06cbe95b1e6_644.jpg)}
</style>

